In [1]:
import glob
import os

import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = "{:.0f}".format

#### Ta reda på antalet kolumner och rader i alla områden:

In [3]:
%%time
df_list = []
nr_of_files = 0
for subdir, dirs, files in os.walk("../data/"):
    for file in files:
        if file.endswith(".gzip"):
            nr_of_files += 1
            file_path = os.path.join(subdir, file)
            df = pd.read_parquet(file_path)
            df_list.append(df)            
print(nr_of_files)
print(len(df_list))

3536
3536
CPU times: user 32.4 s, sys: 6.18 s, total: 38.5 s
Wall time: 23.6 s

In [5]:
shape_list = []
for df in df_list:
    shape_list.append(df.shape[1])

#### Count and plot the distribution

In [6]:
shape_list.count(39)

0

In [7]:
shape_list.count(40)

7

In [8]:
shape_list.count(41)

93

In [9]:
shape_list.count(42)

48

In [10]:
shape_list.count(43)

1389

In [11]:
shape_list.count(44)

113

In [12]:
shape_list.count(45)

9

In [13]:
shape_list.count(46)

1877

In [14]:
shape_list.count(47)

0

In [15]:
all_df_files_concat = pd.concat(df_list)
all_df_files_concat.shape

(477326, 46)

In [16]:
all_df_files_concat.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477326 entries, 0 to 51
Data columns (total 46 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   id                               477326 non-null  int64
 1   coordinate                       477326 non-null  object
 2   address                          477249 non-null  object
 3   location_name                    477326 non-null  object
 4   typeSummary                      477326 non-null  object
 5   iconName                         477326 non-null  object
 6   project                          477326 non-null  bool
 7   new_construction                 477326 non-null  bool
 8   ongoing_bidding                  477326 non-null  bool
 9   foreclosure                      477326 non-null  bool
 10  upcoming                         477326 non-null  bool
 11  price                            477021 non-null  object
 12  price_per_area                   370153 non-null  object
 13  has_price_change                 477326 non-null  bool
 14  rooms                            453618 non-null  object
 15  fee                              374648 non-null  object
 16  age_string                       477326 non-null  object
 17  age                              477326 non-null  int64
 18  deactivated_before_open_house    477326 non-null  bool
 19  land_area                        101476 non-null  object
 20  small_image_url                  477326 non-null  object
 21  medium_image_url                 477098 non-null  object
 22  url                              477326 non-null  object
 23  labels                           477326 non-null  object
 24  state_labels                     477326 non-null  object
 25  visible_project_units            453154 non-null  float64
 26  show_visible_project_units       453154 non-null  object
 27  user_saved                       477326 non-null  bool
 28  save_button_label                477326 non-null  object
 29  broker_logo_url                  460918 non-null  object
 30  broker_agency_name               477326 non-null  object
 31  locations_string                 477326 non-null  object
 32  should_display_showings          477326 non-null  bool
 33  should_highlight_showings        477326 non-null  bool
 34  living_space.table               477326 non-null  object
 35  trackingData.listingId           477326 non-null  object
 36  trackingData.listingType         477326 non-null  object
 37  trackingData.listingPackageType  477326 non-null  object
 38  trackingData.listingState        477326 non-null  object
 39  trackingData.listingStatus       477326 non-null  object
 40  broker_name                      7185 non-null    object
 41  broker_phone                     7129 non-null    object
 42  broker_email                     7185 non-null    object
 43  price_change                     59138 non-null   float64
 44  area                             477326 non-null  object
 45  date                             476104 non-null  object
dtypes: bool(10), float64(2), int64(2), object(32)
memory usage: 139.3+ MB

In [17]:
all_df_files_concat["id"].nunique()

14952

In [18]:
all_df_files_concat.sort_values(by=["id", "date"], ascending=[True, True], inplace=True)
all_df_files_concat.reset_index(inplace=True)
all_df_files_concat.drop(columns="index", inplace=True)
all_df_files_concat.sample(5)

,id,coordinate,address,location_name,typeSummary,iconName,project,new_construction,ongoing_bidding,foreclosure,upcoming,price,price_per_area,has_price_change,rooms,fee,age_string,age,deactivated_before_open_house,land_area,small_image_url,medium_image_url,url,labels,state_labels,visible_project_units,show_visible_project_units,user_saved,save_button_label,broker_logo_url,broker_agency_name,locations_string,should_display_showings,should_highlight_showings,living_space.table,trackingData.listingId,trackingData.listingType,trackingData.listingPackageType,trackingData.listingState,trackingData.listingStatus,broker_name,broker_phone,broker_email,price_change,area,date
299575,19352495,"[59.3617439, 17.9960842]",Parkvägen 2,Solna kommun,Bostadsrättslägenhet,bostadsratt,False,False,False,False,False,5 995 000 kr,77 857 kr/m²,False,3 rum,4 415 kr/mån,<span>9</span> dagar,9,False,None,https://bilder.hemnet.se/images/itemgallery_S/...,https://bilder.hemnet.se/images/itemgallery_M/...,https://www.hemnet.se/bostad/lagenhet-3rum-ras...,"[{'category': 'product', 'identifier': 'plus',...",[],0,False,False,Spara,https://bilder.hemnet.se/images/broker_logo_2/...,Bronze Fastighetsförmedling AB,"Råsunda, Solna kommun",False,False,"{'living_area': '77 m²', 'supplemental_area': ...",19352495,common_listing,plus,active,for_sale,None,None,None,NaN,solna,20221128
309617,19366117,"[59.38198, 17.98523]","Kaprifolen, Järvastaden, lgh 7-1303",Solna kommun,Bostadsrättslägenhet,bostadsratt,False,True,False,False,False,7 100 000 kr,58 197 kr/m²,False,5 rum,7 088 kr/mån,<span>2</span> dagar,2,False,None,https://bilder.hemnet.se/images/itemgallery_S/...,https://bilder.hemnet.se/images/itemgallery_M/...,https://www.hemnet.se/bostad/lagenhet-5rum-jar...,"[{'category': 'type', 'identifier': 'new_const...",[],0,False,False,Spara,https://bilder.hemnet.se/images/broker_logo_2/...,Skanska Sverige AB,"Järvastaden, Solna kommun",False,False,"{'living_area': '122 m²', 'supplemental_area':...",19366117,project_unit,not_selected,active,for_sale,None,None,None,NaN,solna,20221126
413519,19507435,"[59.347622721017636, 18.097477033193904]","Furusundsgatan 9,6tr",Stockholms kommun,Bostadsrättslägenhet,bostadsratt,False,False,True,False,False,4 300 000 kr,100 000 kr/m²,False,2 rum,2 200 kr/mån,<span>8</span> dagar,8,False,None,https://bilder.hemnet.se/images/itemgallery_S/...,https://bilder.hemnet.se/images/itemgallery_M/...,https://www.hemnet.se/bostad/lagenhet-2rum-gar...,"[{'category': 'product', 'identifier': 'plus',...","[{'category': 'state', 'identifier': 'ongoing_...",0,False,False,Spara,https://bilder.hemnet.se/images/broker_logo_1/...,Oscars Fastighetsmäkleri,"Gärdet, Stockholms kommun",False,True,"{'living_area': '43 m²', 'supplemental_area': ...",19507435,common_listing,plus,active,for_sale,None,None,None,NaN,gardet,20230121
346855,19419156,"[59.11351, 17.5682125]",Rudsjövägen 21,Södertälje kommun,Bostadsrättslägenhet,bostadsratt,False,False,False,False,False,1 795 000 kr,32 636 kr/m²,False,2 rum,2 844 kr/mån,<span>5</span> dagar,5,False,None,https://bilder.hemnet.se/images/itemgallery_S/...,https://bilder.hemnet.se/images/itemgallery_M/...,https://www.hemnet.se/bostad/lagenhet-2rum-kal...,"[{'category': 'product', 'identifier': 'plus',...","[{'category': 'state', 'identifier': 'highligh...",0,False,False,Spara,https://bilder.hemnet.se/images/broker_logo_2/...,Erik Olsson Fastighetsförmedling,"Kallfors, Södertälje kommun",False,True,"{'living_area': '55 m²', 'supplemental_area': ...",19419156,common_listing,plus,active,for_sale,None,None,None,NaN,sodertalje,20221214
75815,18746417,"[59.31074542101156, 18.065066079414283]",Tideliusgatan 27 4tr.,Stockholms kommun,Bostadsrättslägenhet,bostadsratt,False,False,False,False,False,9 995 000 kr,103 041 kr/m²,False,4 rum,2 591 kr/mån,<span>229</span> dagar,229,False,None,https://bilder.hemnet.se/images/itemgallery_S/...,https://bilder.hemnet.se/images/itemgallery_M/...,https://www.hemnet.se/bostad/lagenhet-4rum-sod...,"[{'category': 'product', 'identifier': 'plus',...","[{'category': 'state', 'identifier': 'highligh...",0,False,False,Spara,https://bilder.hemnet.se/images/broker_logo_2/...,Fastighetsmäklarna,"Södermalm, Stockholms kommun",False,True,"{'living_area': '97 m²', 'supplemental_area': ...",18746417,common_listing,plus,active,for_sale,None,None,None,NaN,sodermalm,20230121

In [19]:
all_df_files_concat.drop_duplicates(subset="id", keep="first", ignore_index=True, inplace=True)
all_df_files_concat.shape

(14952, 46)

In [28]:
all_df_files_concat["date"].value_counts().reset_index().sort_values("index")

       index  date
1   20221109  1434
82  20221110    15
12  20221111   148
52  20221112    51
88  20221113    11
..       ...   ...
35  20230207    71
54  20230208    51
28  20230209    76
14  20230210   141
6   20230211   430

[94 rows x 2 columns]

In [ ]:
pd.to_datetime()

In [ ]:
gardet = pd.read_parquet("../data/areas_of_interest/2022/12/18/gardet.parquet.gzip")
gardet.shape

In [ ]:
gardet.sample(5)

In [ ]:
df.info(show_counts=True)

In [ ]:
gardet["id"].nunique()

In [ ]:
gardet["location_name"].nunique()

In [ ]:
price_change["typeSummary"].nunique()

In [ ]:
df["typeSummary"].value_counts()

In [ ]:
df["iconName"].nunique()

In [ ]:
df["iconName"].value_counts()

In [ ]:
df["ongoing_bidding"]

In [ ]:
gardet["has_price_change"].value_counts()

In [ ]:
df[df["id"] == 19102395]

In [ ]:
df[df["id"] == 19102395]["url"]

In [ ]:
df[df["id"] == 19193656]

In [ ]:
df["price_change"].min()

In [ ]:
f"jag skulle vilja skicka {100:5} kronor till dig"

In [ ]:
print(f"roshan har:{100:<20} kronor")
print(f"roza har:{200:<20} kronor")
print(f"azad har:{500:<20} kronor")
print(f"martin norin har:{900:<20} kronor")

In [ ]:
sub_str='s'
for i in range(1,5):
    s = sub_str*i
    print(f'Roshan har {"":<10} mycket pengar')

In [ ]:
df = pd.read_parquet("../data/areas_of_interest/20221218/gardet.parquet.gzip")
df.shape

In [ ]:
df2 = pd.read_parquet("../data/areas_of_interest/20221218/hjorthagen.parquet.gzip")
df2.shape

In [ ]:
df3 = pd.read_parquet("../data/areas_of_interest/20221218/kungsholmen.parquet.gzip")
df3.shape

In [ ]:
set(df3.columns).difference(set(df2.columns))

#### Land area in other areas than area of interest:

In [ ]:
stockholms_lan_files = glob.glob("../data/stockholms_lan/2023/02/05/")
stockholms_lan_files_list = []
for file in stockholms_lan_files:
    df = pd.read_parquet(file)
    stockholms_lan_files_list.append(df)
    
stockholms_lan_files_concat = pd.concat(stockholms_lan_files_list)
stockholms_lan_files_concat.shape

In [ ]:
stockholms_lan_files_concat.sample(5)

In [ ]:
stockholms_lan_files_concat.info(show_counts=True)

In [ ]:
stockholms_lan_files_concat.query("address.isna()")

In [ ]:
stockholms_lan_files_concat.query("land_area.notna()").sample(5)

In [ ]:
stockholms_lan_files_concat.query("land_area.notna()")["typeSummary"].value_counts()

In [ ]:
stockholms_lan_files_concat.query("land_area.isna()")["typeSummary"].value_counts()