In [1]:
import pandas as pd
import numpy as np

In [2]:
#util function to check for ints
def check_int(value):
    try:
        int(value)
        return np.NaN
    except ValueError:
        return value

In [3]:
df=pd.read_parquet("../data/transformed_data.parquet")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717 entries, 19325173 to 16998076
Data columns (total 35 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   coordinate                       717 non-null    object
 1   address                          717 non-null    object
 2   location_name                    717 non-null    object
 3   typeSummary                      717 non-null    object
 4   ongoing_bidding                  717 non-null    bool
 5   foreclosure                      717 non-null    bool
 6   price                            716 non-null    object
 7   price_per_area                   702 non-null    object
 8   has_price_change                 717 non-null    bool
 9   rooms                            714 non-null    object
 10  fee                              706 non-null    object
 11  age                              717 non-null    int64
 12  deactivated_before_open_house    717 non-null    bool
 13  small_image_url                  717 non-null    object
 14  medium_image_url                 717 non-null    object
 15  url                              717 non-null    object
 16  state_labels                     717 non-null    object
 17  visible_project_units            717 non-null    int64
 18  broker_agency_name               717 non-null    object
 19  locations_string                 717 non-null    object
 20  should_highlight_showings        717 non-null    bool
 21  trackingData.listingId           717 non-null    object
 22  trackingData.listingType         717 non-null    object
 23  trackingData.listingPackageType  717 non-null    object
 24  trackingData.listingState        717 non-null    object
 25  trackingData.listingStatus       717 non-null    object
 26  price_change                     128 non-null    float64
 27  area                             717 non-null    object
 28  date                             717 non-null    object
 29  balcony                          717 non-null    bool
 30  elevator                         717 non-null    bool
 31  patio                            717 non-null    bool
 32  tenure_owned                     717 non-null    bool
 33  living_area                      714 non-null    object
 34  supplemental_area                35 non-null     object
dtypes: bool(9), float64(1), int64(2), object(23)
memory usage: 157.5+ KB

In [7]:
df2 = df.copy()

In [8]:
#remove weird whitespace strings
df2 = df2.replace('\xa0', '', regex=True)

import re

strToIntList=['fee','price','price_per_area', 'living_area']
df[strToIntList].fillna(value=0, inplace=True)

for c in strToIntList:
    df2[c]= re.sub(r'kr/mån|fr.|kr| |kr/m²', "", df2[c])

In [9]:
#remove and replace some unwanted things in listed columns
strToIntList=['fee','price','price_per_area', 'living_area']
i=2

df2[strToIntList].fillna(value=np.nan, inplace=True)

for c in strToIntList:
    df2[c]=df2[c].str.strip()
    df2[c]=df2[c].str.replace('kr/mån','')
    df2[c]=df2[c].str.replace('kr/m²','')
    df2[c]=df2[c].str.replace('fr.','',regex=False)
    df2[c]=df2[c].str.replace('kr','')
    df2[c]=df2[c].str.replace(' ', '')
    df2[c]=df2[c].str.replace('/', '')
    df2[c]=df2[c].str.replace('m²','')
    #df2.fee.fillna(value=np.nan, inplace=True)
    df2[c]=df2[c].fillna(0)
#df2['price_per_area']=df2['price_per_area'].str.replace('kr/m²','').str.replace('fr.','')

#
#

/var/folders/l0/yr9js0tn3m3dc3_slvzvwsgc0000gn/T/ipykernel_8995/2819892623.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[strToIntList].fillna(value=np.nan, inplace=True)

In [10]:
#other str replaces
df2['rooms']=df2['rooms'].str.replace(' rum','')
df2['price']=df2['price'].replace('Prissaknas', 0)

In [11]:
df2['fee']=df2['fee'].astype(int)
df2['price']=df2['price'].astype(int)
df2['price_per_area']=df2['price'].astype(int)

In [35]:
df2['living_area']=df2['living_area'].replace(',', '.')
tt = str.maketrans(',', '.', '.€%')
df2.living_area = df2.living_area.str.translate(tt)
df2['living_area']

id
19324990     127
19325173      64
19102415     151
18956296    98.5
19158120     175
            ...
18987175    30.5
18976122      56
18941998     124
18669396      34
16998076      34
Name: living_area, Length: 1263, dtype: object

----- will drop these ones for now, since they are very weird in general... ------

In [12]:
todrop=df2.loc[df2['living_area'].str.contains('–',na=False)]
df3=df2.drop(index=todrop.index)

In [13]:
df3.loc[df3['living_area'].str.contains('–',na=False)]

Empty DataFrame
Columns: [coordinate, address, location_name, typeSummary, ongoing_bidding, foreclosure, price, price_per_area, has_price_change, rooms, fee, age, deactivated_before_open_house, small_image_url, medium_image_url, url, state_labels, visible_project_units, broker_agency_name, locations_string, should_highlight_showings, trackingData.listingId, trackingData.listingType, trackingData.listingPackageType, trackingData.listingState, trackingData.listingStatus, price_change, area, date, balcony, elevator, patio, tenure_owned, living_area, supplemental_area]
Index: []

[0 rows x 35 columns]

In [14]:
df3['living_area']=df3['living_area'].astype('float')

ValueError: could not convert string to float: '35,5'

In [63]:
df3.to_parquet('../data/2nd_transformed_data.parquet')